@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2E0D0, #F2E6C2);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(116, 95, 90, 0.506);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #D9B2A9;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(122, 100, 95, 0.603);

}

h2 {
    color: #91BDD9;
}
 
p {
    text-align: justify;
}
