@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#menu_icon {
        display: none;
    }

    menu#itens {
        display: block;
    }

    li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}